.loader{
    margin: 5vh auto;
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    border: 5px dashed darkblue;
    animation: spin 5000ms infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg) scale(1);
    }
    25% {
        transform: rotate(90deg) scale(0.9);
    }
    50% {
        transform: rotate(180deg) scale(0.8);
    }
    75% {
        transform: rotate(270deg) scale(0.9);
    }
    to {
        transform: rotate(360deg) scale(1);
    }
}