* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}
.App > hr{
  margin: 3vh 0vw;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btns{
  display: flex;
}

.post-enter{
  transform: translateX(-100vw);
}
.post-enter-active{
  transform: translateX(0vw);
  transition: all 500ms ease-in;
}
.post-exit{
  opacity: 1;
}
.post-exit-active{
  transform: translateX(200vw);
  transition: all 500ms ease-in;
}

div > h2 {
  text-align: center;
}

.no_posts_notification{
  text-align: center;
  font-size: larger;
}

.not_found{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: lightcoral;
}

.comment_section{
  margin-top: 2vh;
  background-color: lightblue;
  border-radius: 10px;
  border: 1px solid teal 
}

.comment:nth-child(2n){
  background-color: aliceblue;
  border-top: 1px solid teal;
  border-bottom: 1px solid teal;
}